body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.pink{
    color: rgb(228, 6, 80);
}
.half-width{
    width: 50%;
    padding-left: 5%;

}
section{
    display: flex;
}
.half-width img{
    width: 85%;
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(rgb(252, 0, 0),rgb(173, 2, 189));
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}