body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.pink{
    color: rgb(228, 6, 80);
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 85%;
}
.flexible-container{
    display: flex;
    padding-bottom: 150px;
    padding-right: 7%;
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(rgb(252, 0, 0),rgb(173, 2, 189));
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-wish{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgb(197, 72, 93);
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#full-stack-exp{
    border-left: 5px solid;
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 1;
}
#baby-exp{
    border-left: 5px solid;
    border-image: linear-gradient(pink, navy);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}
